.link {
  text-decoration: none;
}
#ppAkun {
  width: 30px;
  height: 4%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.Container {
  justify-content: center;
  font-size: large;
  align-items: center;
  text-align: center;
  justify-content: center;
}
#cardProduk {
  line-height: 0.8rem;
}
#cardProduk:hover {
  cursor: pointer;
  background-color: rgb(20, 20, 24);
  color: white;
}

.form {
  box-sizing: border-box;
  width: 50%;
}
.NavBrand {
  font-size: 5rem;
  color: red;
}

.navigasi {
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  margin-left: 3rem;
  color: white;
  text-decoration: none;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.navigasi:hover {
  color: black;
  background-color: teal;
}

.navigasi.active {
  background-color: teal;
}
.signIn {
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  margin-left: 4rem;
  color: white;
  text-decoration: none;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.signIn:hover {
  color: black;
  background-color: teal;
}
.pageLogin {
  text-align: center;
  width: 20rem;
}
